@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .input-primary {
    @apply mb-3 w-full rounded-md h-12 bg-gray-100 text-black px-2 placeholder-transparent focus:outline-none;
    /* add peer with this  */
  }

  .label-primary {
    @apply absolute left-0 w-fit -top-2 mx-2 text-xs text-blue-400 px-1 rounded-md bg-gray-100 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-[#9E9D9D] peer-placeholder-shown:top-3 peer-placeholder-shown:left-0 peer-placeholder-shown:bg-transparent peer-focus:-top-2  peer-focus:text-xs peer-focus:text-blue-400 peer-focus:bg-gray-100 peer-focus:rounded-md peer-focus:w-fit peer-focus:pt-0.5 peer-focus:px-1;
  }

  .hvr-grow {
    @apply transition-all ease-in-out delay-150 bg-[#36454F] hover:-translate-y-1 hover:scale-110 hover:bg-secondary duration-100;
  }
}
